<div class="login-container">
  <div class="login-card" [ngClass]="{ 'small-card': esAdmin, 'large-card': !esAdmin }">
    <button pButton (click)="esAdmin = !esAdmin; resetForm()"
            label="{{ esAdmin ? 'Egresados' : 'Administrador' }}"
            class="p-button-sm toggle-button"></button>

    <div class="login-header">
      <img [src]="esAdmin ? 'assets/icons/admin4.png' : 'assets/icons/egresado.png'"
           alt="Logo"
           class="logo">
      <h1>{{ esAdmin ? 'Administrador' : 'Egresados' }}</h1>
      <p>{{ esAdmin ? 'Iniciar sesión Administrador' : 'Iniciar sesión Egresados' }}</p>
    </div>

    <form [formGroup]="formularioLogin" (ngSubmit)="login()">
      <!-- Campos y botón para administrador -->
      <div *ngIf="esAdmin">
        <div class="form-group">
          <label for="emailUsuario">Correo electrónico</label>
          <input id="emailUsuario"
                 type="email"
                 pInputText
                 formControlName="emailUsuario"
                 placeholder="admin@correo.com">
          <span *ngIf="campoInvalido('emailUsuario')" class="error-message">El correo es inválido</span>
        </div>

        <div class="form-group">
          <label for="contrasenia">Contraseña</label>
          <input id="contrasenia"
                      type="password"
                      formControlName="contrasenia"
                      placeholder="*******">
          <span *ngIf="campoInvalido('contrasenia')" class="error-message">La contraseña es obligatoria</span>
        </div>

        <div class="remember-forgot">
          <a routerLink="/auth/reset-password" class="forgot-password">¿Olvidaste tu contraseña?</a>
        </div>

        <div class="form-group p-d-flex p-jc-start">
          <p-button type="submit"
                    label="Iniciar sesión"
                    [disabled]="formularioLogin.invalid"
                    class="submit-button">
          </p-button>
        </div>
      </div>

      <!-- Botón para egresados -->
      <div *ngIf="!esAdmin" class="form-group button-container">
        <p-button label="Iniciar sesión con LinkedIn"
                  icon="pi pi-linkedin"
                  (click)="loginWithLinkedIn()"
                  class="linkedin-button">
        </p-button>
      </div>
    </form>
  </div>
</div>
