.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px); /* Restamos la altura del footer */
  background-color: #f5f5f5;
  padding: 1rem;
  margin-bottom: 80px; /* Altura del footer */
}

.login-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.small-card {
  max-width: 500px;
}

.large-card {
  max-width: 500px;
}

.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #515355;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: #1378e4;
}

.login-header {
  margin-bottom: 2rem;
}

.logo {
  max-width: 100px;
  margin-bottom: 1rem;
}

h1 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

p {
  color: #777;
  font-size: 1rem;
}

.form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
}

input, .p-password {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.error-message {
  color: #ff0000;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.forgot-password {
  color: #1378e4;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center; /* Centra el botón horizontalmente */
  margin-top: 1rem;
}

.submit-button, .linkedin-button {
  width: 100%;
  max-width: 300px; /* Limita el ancho máximo del botón */
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
}

.submit-button {
  border: none;
}

.linkedin-button {
  border: none;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; /* Espacio entre el icono y el texto */
  transition: background-color 0.3s ease;
}

.submit-button:hover, .linkedin-button:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .login-container {
    min-height: calc(100vh - 60px); /* Ajustamos para pantallas pequeñas */
    margin-bottom: 60px; /* Reducimos el margen inferior */
  }

  .login-card {
    padding: 1.5rem;
  }

  .toggle-button {
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.4rem 0.8rem;
    font-size: 0.875rem;
  }

  .logo {
    max-width: 80px;
  }

  h1 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.875rem;
  }
}
