.header {
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
}

.container-prime {
  max-width: 1140px;
  margin: 0 auto;
}

.row-prime {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-prime {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left-content {
  display: flex;
  align-items: center;
}


.dashboard-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.uv-logo {
  margin-right: 1rem;
  width: 100px;
}

.dashboard-text {
  font-size: 1.15rem;
  color: #333;
}


.hide-on-small-screen {
  display: none;
}

@media (min-width: 768px) {
  .hide-on-small-screen {
    display: inline;
  }
}
