<header class="header">
  <div class="container-prime">
    <div class="row-prime">
      <div class="col-prime">
        <!-- Contenido a la izquierda -->
        <div class="left-content" *ngIf="!isAuth()">
          <div class="sidebar-container">

            <app-sidebar [nameUser]="userName" [isAdmin]="isAdmin()"></app-sidebar>
          </div>
          <a routerLink="/{{ isAdmin() ? 'admin' : 'user' }}/dashboard" class="dashboard-link">
            <img class="uv-logo" src="assets/icons/uv.png" alt="uv.png" />
            <strong class="dashboard-text">Seguimiento egresados</strong>
          </a>
        </div>

        <div class="left-content" *ngIf="isAuth()">
          <a routerLink="/auth/login" class="dashboard-link">
            <img class="uv-logo" src="assets/icons/uv.png" alt="uv.png" />
            <strong class="dashboard-text">Seguimiento egresados</strong>
          </a>
        </div>

        <!-- Contenido a la derecha -->
        <div class="right-content" *ngIf="!isAuth()">
          <p-avatar
            image="assets/icons/fotoperfil.png"
            size="large"
            shape="circle"
            class="avatar"
            (click)="menu.toggle($event)"
          ></p-avatar>
          <p-tieredMenu #menu [model]="menuItems" popup appendTo="body"></p-tieredMenu>
        </div>
      </div>
    </div>
  </div>
</header>
