<footer class="footer p-d-flex p-jc-between p-ai-center p-py-3 p-border-top">
  <div class="footer-center p-d-flex p-jc-center p-ai-center">
    <span class="p-text-secondary">{{customDate | date: 'YYYY' }} - Alan J. ©</span>
  </div>
   <div class="footer-center p-d-flex p-jc-center p-ai-center">
      <a href="https://www.linkedin.com/in/alan-jeria-medina-0210141b8/" target="_blank"
        class="icon-link p-mx-2 p-text-secondary p-d-flex p-ai-center p-jc-center subrayado">
        <i class="pi pi-linkedin p-p-2"></i>

      </a>
      <a href="https://github.com/AlanJeriaM" target="_blank"
      class="icon-link p-mx-2 p-text-secondary p-d-flex p-ai-center p-jc-center subrayado">
      <i class="pi pi-github p-p-2"></i>
    </a>
  </div>
</footer>


