<div class="p-grid p-justify-center">
  <div class="p-col-12 p-md-8 p-lg-6">
    <p-card>
      <ng-template pTemplate="header">
        <h1 class="text-center p-mb-4 mt-6">Crear Encuesta</h1>
      </ng-template>

      <div *ngIf="questions.length > 0" class="text-right mb-4 p-p-3">
        <p-message
          [severity]="encuestaForm.invalid ? 'error' : 'success'"
          [text]="encuestaForm.invalid ? 'Encuesta inválida' : 'Encuesta válida'">
        </p-message>
      </div>

      <form [formGroup]="encuestaForm"  (ngSubmit)="saveSurvey()">
        <!-- Título de la encuesta -->
        <div class="p-field">
          <label for="tituloEncuesta">Título de la Encuesta</label>
          <div>
            <input
              id="tituloEncuesta"
              type="text"
              pInputText
              formControlName="tituloEncuesta"
              placeholder="Ingrese el título de la encuesta"
              class="w-full mt-2"
            />
            <small class="p-error" *ngIf="isValidField(encuestaForm, 'tituloEncuesta')">
              {{ getFieldError(encuestaForm,'tituloEncuesta') }}
            </small>
          </div>
        </div>

        <!-- Preguntas -->
        <div formArrayName="questions">
          <div *ngFor="let question of questions.controls; let i = index" [formGroupName]="i" class="mt-4">
            <p-fieldset [legend]="'Pregunta ' + (i + 1)" [toggleable]="true">
              <!-- Título de la pregunta -->
              <div class="p-field">
                <label for="tituloPregunta-{{ i }}">Título de la Pregunta</label>
                <div>
                  <input
                    id="tituloPregunta-{{ i }}"
                    type="text"
                    pInputText
                    formControlName="tituloPregunta"
                    placeholder="Título de la pregunta"
                    class="w-full mt-2"
                  />
                   <!-- <small *ngIf="question.get('tituloPregunta')?.touched && question.get('tituloPregunta')?.invalid" class="p-error">
                    El título de la pregunta es obligatorio, mínimo 3 caracteres.
                  </small> -->
                  <small class="p-error" *ngIf="isValidField(question, 'tituloPregunta')">
                    {{ getFieldError(question, 'tituloPregunta') }}
                  </small>

                </div>
              </div>

              <!-- Tipo de pregunta -->
              <div class="p-field mt-3">
                <p-dropdown
                  [options]="questionTypes"
                  formControlName="type"
                  placeholder="Seleccione el tipo de pregunta"
                ></p-dropdown>
              </div>

              <!-- Opciones -->
              <div *ngIf="question.get('type')?.value === 'multiple'" class="mt-3">
                <div formArrayName="options">
                  <div *ngFor="let option of getOptions(i).controls; let j = index" [formGroupName]="j" class="p-field mb-2">
                    <div class="p-inputgroup mt-2">
                      <input
                        type="text"
                        pInputText
                        formControlName="value"
                        placeholder="Opción {{ j + 1 }}"
                        class="w-full"
                      />
                      <button
                        [disabled]="getOptions(i).length <= 2"
                        type="button"
                        pButton
                        icon="pi pi-trash"
                        (click)="removeOption(i, j)"
                        class="p-button-danger ml-1 p-button-text">
                    </button>
                    </div>
                    <small class="p-error" *ngIf="isValidField(option, 'value')">
                      {{ getFieldError(option, 'value') }}, la opción {{ j+1 }} no puede estar vacía.
                    </small>
                    <small *ngIf="isDuplicateOption(option, i, j)" class="p-error">
                      Esta opción ya existe.
                    </small>
                  </div>
                </div>
                <div class="flex justify-content-between mt-3">
                  <!-- Botón para agregar opción -->
                  <p-button
                    [disabled]="getOptions(i).length > 4"
                    label="Opción"
                    icon="pi pi-plus"
                    (onClick)="addOption(i)"
                    class="mt-2">
                </p-button>

                  <!-- Botón para eliminar la pregunta -->
                  <p-button
                    label="Eliminar"
                    icon="pi pi-trash"
                    (onClick)="removeQuestion(i)"
                    styleClass="p-button-danger mt-2">
                </p-button>
                </div>
              </div>
            </p-fieldset>
          </div>
        </div>

        <!-- Botón para agregar pregunta -->
        <div class="mt-3">
          <p-button
            label="Agregar pregunta"
            (onClick)="addQuestion()"
            icon="pi pi-plus"
            styleClass="p-button-outlined"
          ></p-button>
        </div>
      </form>
    </p-card>

    <!-- Botón para guardar encuesta -->
    <div class="text-right mt-3">
      <p-button
        [disabled]="encuestaForm.invalid || questions.length === 0"
        pRipple
        label="Guardar encuesta"
        (onClick)="saveSurvey()"
        icon="pi pi-save"
        styleClass="p-button-success"
      ></p-button>
    </div>
  </div>

<!-- Debug Mode -->
<!-- <div>
  <pre><b>encuestaForm.value: </b> {{encuestaForm.value | json }}</pre>
  <pre><b>encuestaForm.errors: </b> {{encuestaForm.errors | json }}</pre>
  <pre><b>encuestaForm.errors: </b> {{encuestaForm.valid | json }}</pre>

</div> -->

</div>
