<header class="p-3 border-bottom">
  <div class="container">
      <div class="row">
          <div class="col-12 d-flex align-items-center justify-content-between">

              <div class="d-flex align-items-center">
                  <div class="mx-3">
                      <app-sidebar-user nameUser="{{userName}}"></app-sidebar-user>
                  </div>
                  <a routerLink="/user/dashboard"
                  class="navbar-brand text-dark text-decoration-none hide-on-small-screen">
                  <img class="mx-2" width="100" src="assets/icons/uv.png" alt="uv.png">
                  <strong class="smaller-text">Seguimiento egresados</strong>
              </a>
              </div>


              <div class="dropdown">
                  <a class="d-inline link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      <div class="user-image-container">
                         <img src="assets/icons/fotoperfil.png" alt="fotoperfil.png"
                          class="rounded-0">
                        </div>
                  </a>
                  <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                      <li><a routerLink="/user/my-profile" class="dropdown-item">Mi Perfil</a></li>
                      <li><a class="dropdown-item" (click)="logOut()">Cerrar sesión</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</header>
<!-- <div class="layout-topbar">
  <p-button type="button" class="mr-2" (onClick)="openSidebar()" icon="pi pi-bars"  />
</div> -->


<!-- <div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="">
      <img class="mx-2" width="100" src="assets/icons/uv.png" alt="uv.png">
      <span>SAKAI</span>
  </a>

</div> -->
